.movie__adminTemplate {
    #components-layout-demo-responsive .logo {
        height: 32px;
        margin: 16px;
        background: #e5e7eb;
    }

    .site-layout-sub-header-background {
        background: #e5e7eb;
    }

    .site-layout-background {
        background: #e5e7eb;
    }

    .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
        background-color: #4f46e5;
    }

    .ant-layout-sider-children {
        height: 100vh;
    }
}