.Admin__Films {
    .ant-btn-primary {
        @apply bg-indigo-600 hover:bg-indigo-700 #{!important}
    }

    .ant-table-pagination-right {
        justify-content: flex-start;
    }

    .Admin__Films-table {
        height: 100vh;
        overflow-x: scroll;
        overflow-y: scroll;
    }

}

.ant-tooltip-inner {
    background-color: rgb(79 70 227) !important;
}

.ant-tooltip-arrow-content {
    --antd-arrow-background-color: rgb(79 70 227) !important;
}